@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли!</h1>
    <p>Това е приложение за инвентар с възможност за проследяване на предмети в институция като училище</p>
</div>
