@{
    ViewData["Title"] = "Начало";
}
<!DOCTYPE html>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="bg-image" > </div>
        <div class="bg-text">
            <h1 style="font-size:30px;font-weight:bold">
                Това приложение има за цел да се подобри организацията и
                проследяването на предмети в училище.
            </h1>
            <h2>
                Създават се предмети с описание,местоположение,име и уникален номер, по които могат да бъдат извършвани различни операции
                като търсене, смяна на местоположение и проверяване на предишно местоположение.
            </h2>
       
    </div>


